body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
@font-face {
  font-family: NanumSquareR;
  src: url("http://developer.mozilla.org/@api/deki/files/2934/=VeraSeBd.ttf");
  unicode-range: U+2022;
}

@font-face {
  font-family: NanumSquareR;
  src: url("./resources/font/NanumSquareR.ttf") format("truetype");
}

@font-face {
  font-family: NanumSquareEB;
  src: url("./resources/font/NanumSquareEB.ttf") format("truetype");
}

@font-face {
  font-family: NanumSquareB;
  src: url("./resources/font/NanumSquareB.ttf") format("truetype");
}
